<nav class="navbar">
    <a class="nav-brand" href="/listings">WanderLust</a>
    <div class="nav-links">
        <a href="/listings">Home</a>
        <a href="/listings/new">New Listing</a>
    </div>
</nav>
