<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trip - for all</title>
</head>

<body>
    <h3>Listings</h3>
    <form action="/listings/new" method="GET">
        <button>create list</button>
    </form>
    <ul>
        <% for(let listing of listings) { %>
            <li>
                <a href="/listings/<%= listing._id %>"><%= listing.title %></a>
            </li>
            <% } %>
    </ul>
</body>

</html>